<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Already Donated</title>
</head>
<body>
    <h1>The Donor has already registered on the portal</h1>
    <br>
    <a href="/">Register New Donor</a>
</body>
</html>