<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="whole-area">
        <div class="heading">
            <h3>Enter The Secret Password</h3>
        </div>
        <div class="inputField">
            <form action="/login" method="POST">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Proceed</button>
            </form>            
        </div>
    </div>
</body>
</html>