<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="2;url=/" />
	<title>Contact Us form</title>
  <link rel="stylesheet" href="/css/firstpage.css">
  <script type="text/javascript" src="/scripts/firstpage.js"></script>
</head>
<body>
<div class="header">
  <a href="/" class="logo"><img src="/images/blood_donate.jpg" alt=""></a>
  <div class="header-right">
    <a class="links" href="/">Home</a>
    <a class="links" href="/viewDonors">View Donors</a>
    <a class="links" href="/fiter">Filter Search</a>
    <a class="links" href="/logout">Logout</a>
  </div>
</div>
<h1 style="margin:200px"><%= message %></h1>
<footer>
  <h4>Developed By : Rajat</h4>
  <ul>
      <h4>Teacher Coordinators :</h4>
      <h4>Dr. Gaurav Sharma</h4>
      <h4>Er. Shilpi</h4>
      <h4>Er. Monika</h4>
  </ul>
</footer>
</body>
</html>