<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Already Donated</title>
    <link rel="stylesheet" href="/css/firstpage.css">
</head>
<body>
    <div class="header">
        <a href="/" class="logo">The Donor</a>
        <div class="header-right">
            <a class="links" href="/">Home</a>
            <a class="links" href="/viewDonors">View Donors</a>
            <a class="links" href="/about">About Developer</a>
        </div>
    </div>
    <div class="theMessage">
        <h1>The Donor has been successfully registered</h1>
    </div>
    <br>
    <div style="margin-top: 3%">
        <a class="redirector" style="color:white" href="/">Register Another User</a>
    </div>
</body>
</html>